<Project>
    <PropertyGroup>
        <GamePath>C:\Steam\steamapps\common\Mount &amp; Blade II Bannerlord</GamePath>
    </PropertyGroup>

    <PropertyGroup Condition="'$(Configuration)'=='Debug'">
        <StartAction>Program</StartAction>
        <StartProgram>$(GamePath)\bin\Win64_Shipping_Client\Bannerlord.exe</StartProgram>
        <StartArguments>/singleplayer _MODULES_*Native*SandBoxCore*CustomBattle*SandBox*StoryMode*Ledger*_MODULES_</StartArguments>
    </PropertyGroup>
</Project>